@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-areas: "head" "weather" "form" "prev";
  font-family: Roboto;
  background-color: #edeae5;
}

header {
  color: #026670;
  height: 4rem;
}

h1,
h2,
h3 {
  padding: 1rem;
}

form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

form * {
  margin: 1rem;
}

.formContainer {
  background-color: #9fedd7;
  grid-area: form;
  margin: 1rem;
}

.weatherContainer {
  background-color: #9fedd7;

  margin: 1rem;
  grid-area: weather;
}

.invisible {
  display: none;
}

.weatherContent {
  margin: 2rem;
}

.prevSearchContainer {
  background-color: #9fedd7;

  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-area: prev;
}

.prevSearch {
  margin: 1rem 2rem 1rem 2rem;
  padding: 1rem;
  background-color: #fce181;
}
